html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
  background-color: #eee9de;
}

*, *::before, *::after {
  box-sizing: inherit;
}

figcaption {
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  margin: 1.5rem;
}

a {
  display: inline-block;
  padding: .4em .75em .5em;
  border: 3px solid #333;
  border-radius: 7px;
  text-decoration: none;
  color: #666;
  margin: 0 1.5rem;
}

img {
  max-width: 25em;
  padding: 2em 0;
}

.paragraph {
  max-width: 25em;
  margin: 1.5rem;
}
